*.o
.grpc.pb.h
*.grpc.pb.h
*.grpc.pb.cc
protos/helloworld.proto.back
*_pb2.py
protos/auth_sample.proto
protos/cvsample.proto
protos/hellostreamingworld.proto
protos/helloworld.proto
protos/route_guide.proto
